

table thead th{
    background-color: var(--color-dos) !important;
    color: white !important;
    
}

table tbody tr:nth-child(odd) td{
   background-color: var(--color-cuatro);
    color: var(--color-dos) !important;
}

table tbody tr:nth-child(even) td{
   /* background-color: var(--color-cuatro);*/
    color: var(--color-tres) !important;
}

.color-boton{
    background-color: var(--color-cuatro) !important;
    color: var(--color-dos);
    border-color: var(--color-dos);
}

.boton-agregar{
    

    width: 35px;
    height: 35px;
    
    
   
    
    
}

.boton-agregar:hover > .material-symbols-outlined {
    
    color:var(--color-tres);
    
}

.boton-agregar:hover {
    
    border-color: var(--color-tres);
    
}




.material-symbols-outlined {
    color: var(--color-dos);
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}







