.boton-buscar{
    box-shadow: 0px 1px 10px 0.1px var(--color-tres) inset !important;
    position: relative;
    border-radius: 10%;
    border-color: var(--color-dos);
    border-width: 0.15rem;
    background-color: var(--color-cuatro) !important;
    color: var(--color-dos);
    transition:  .5s ease-in;
    z-index: 1;
}