.badge{
    background-color: var(--color-dos) !important;
    
}


.badge-pequeño{
    font-size: 15px;
}

.badge-grande{
    font-size: 25px;
    
}

.boton-agregar{
    width: 25px;
    height: 25px;
    padding: 0%;

}

.btnEdit{
    width: 0px !important;
    background-color: var(--color-4);
    border-color: var(--color-4);
    box-shadow: none;
    text-shadow: none;
    border: none;
   
}



.cont-img{
    background-color: var(--color-uno);
    
   
}

.card-desc{
    background-color: var(--color-dos) !important;
}


.cuerpo-card{
    background-color: var(--color-5);
    
   
}

.cardHijo{
    max-width: 540px;
}


.diseno-ppal{
    filter: blur(5px);
}

.card-img{
    width: 200px;
}

.cajaElementos{
    background-color: var(--color-4);
    border: 0px; 
}


  
  .cajaElementos:focus {
    outline: none; /* Elimina el borde de enfoque predeterminado */
    
  }

  .editarLi:hover > .icoEdit{
    visibility: visible;
}

.icoEdit{
    visibility: hidden;
    
}

.imgEdit:hover{
    cursor: pointer;
}


.modal{
    
}

.sin-decoracion{
    list-style: none;
}

